@CHARSET "UTF-8";

#page, #chat {
	display: none;
}

#login {
	text-align: right;
	margin-right: 50%;
	margin-top: 30%;
}

#register {
	overflow: hidden;
	height: 0px;
}

#chatmessages {
	position: absolute;
	top: 1em;
	bottom: 3em;
}

.messagesender {
	font-weight: bold;
}

#chatform {
	position: absolute;
	bottom: 1em;
}