@CHARSET "UTF-8";

#page, #chat {
	display: none;
}

#login {
	text-align: right;
	margin-right: 50%;
	margin-top: 30%;
}

#register {
	overflow: hidden;
	height: 0px;
}

#chatmessages {
	position: absolute;
	left: .5em;
	right: 5em;
	top: .5em;
	bottom: 2.5em;
}
#chatuser {
	position: absolute;
	top: .5em;
	right: 1em;
}

.messagesender {
	font-weight: bold;
}

#chatform {
	position: absolute;
	bottom: .5em;
}